*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
  padding: 1rem;
}
.blockLabel{
  display: block;
  margin-bottom: 5px;
}
.inputDesign{
  padding: 3px 7px;
  border-radius: 0.2rem;
  outline: none;
  border: 1px solid seagreen;
  width: 100%;
}
.formContainer{
  border:1px solid seagreen;
  border-radius: 0.3rem;
  padding: 1rem;
   display:flex;
   justify-content:center;
   align-items:center; 
   flex-direction:column;
   gap:20px;
}
.button{
  display: block;
}
.width{
  width: 50%;
}